<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/easyui/themes/icon.css">
    <link rel="stylesheet" href="/static/servers.css"/>
    <script type="text/javascript" src="/static/jquery-2-1-1.js"></script>
    <script type="text/javascript" src="/static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/servers.js"></script>
    <script type="text/javascript" src="/static/django_post.js"></script>
    <title></title>
</head>
<body>
    {% include 'top.html' %}
<div class="svr-main-div">
    <div class="svr-search-div">
        <form class="svr-search-form">
            {% csrf_token %}
            <div class="svr-search-form-div">
                <label class="svr-search-label">所属机房：</label>
                <input id='svr-search-idc' class="easyui-combobox" name='svr-add-idc' style="height: 20px" data-options="valueField:'id', textField:'name'">
            </div>
            <div class="svr-search-form-div">
                <label class="svr-search-label">入库日期：</label>
                <input type="text" class="easyui-datebox">
            </div>
            <div class="svr-search-form-div">
                <label class="svr-search-label">到期日期：</label>
                <input type="text" class="easyui-datebox">
            </div>
            <div class="svr-search-form-div">
                <label class="svr-search-label">是否有空位：</label>
                <select name="svr-search-is-full">
                    <option value="0">是</option>
                    <option value="1">否</option>
                </select>
            </div>
            <div class="svr-search-form-div">
                <a id='svr-search-check' class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
            </div>
        </form>
    </div>
    <div class="svr-display-div">
        <div id='svr-display-table'></div>
    </div>
    <div id="svr-add-new" class="easyui-dialog" style="width: 300px;height: 500px" data-options="iconCls:'icon-add', title:'添加服务器', closed:'true',
        modal:true" buttons='#svr-add-form-button'>
        <form id="svr-add-form">
            {% csrf_token %}
            <div class="svr-add-form-d">
                <label>服务器编号：</label>
                <input type="text" name="svr-name" class="easyui-validatebox" data-options="required:true, validType:'length[1,30]'">
            </div>
            <div class="svr-add-form-d">
                <label>服务器类型：</label>
                <input type="text" name="svr-size" class="easyui-validatebox" data-options="required:true">
                <a class="size-tip" href="javascript:void(0)"><img src="/static/easyui/themes/icons/help.png"></a>
            </div>
            <div class="svr-add-form-d">
                <label>硬件配置：</label>
                <input type="text" name="svr-parts" class="easyui-validatebox" data-options="required:true">
                <a class="parts-tip" href="javascript:void(0)"><img src="/static/easyui/themes/icons/help.png"></a>
            </div>
            <div class="svr-add-form-d">
                <label>操作系统：</label>
                <input type="text" id='svr-add-os' class="easyui-validatebox" name='svr-add-os' data-options="valueField:'id', textField:'name', required:true">
            </div>
            <div class="svr-add-form-d">
                <label>计算机名：</label>
                <input type="text" id='svr-add-hostname' class="easyui-validatebox" name='svr-add-hostname' data-options="valueField:'id', textField:'name', required:true">
            </div>
            <div class="svr-add-form-d">
                <label>登录用户：</label>
                <input type="text" id='svr-add-username' class="easyui-validatebox" name='svr-add-username' data-options="valueField:'id', textField:'name', required:true">
            </div>
            <div class="svr-add-form-d">
                <label>所在机房：</label>
                <input id='svr-add-idc' class="easyui-combobox" name='svr-add-idc' style="height: 20px" data-options="valueField:'id', textField:'name', required:true">
            </div>
            <!--<div class="svr-add-form-d">-->
                <!--<label>所在机柜：</label>-->
                <!--<input id='svr-add-cab' class="easyui-combobox" name='svr-add-cab' style="height: 20px" data-options="valueField:'id', textField:'name'">-->
                <!--<input id="svr-none-cab" type="checkbox" value="0" onclick="check_none_cab_selected()">不指派-->
            <!--</div>-->
            <div class="svr-add-form-d">
                <label>父服务器：</label>
                <input id='svr-add-father' class="easyui-combobox" name='svr-add-father' style="height: 20px" data-options="valueField:'id', textField:'name', disabled:true">
                <input id="svr-none-father" type="checkbox" value="0" onclick="check_father_selected()">有
                <a class="father-tip" href="javascript:void(0)"><img src="/static/easyui/themes/icons/help.png"></a>
            </div>
            <div class="svr-add-form-d">
                <label>到期日期：</label>
                <input type="text" name="svr-end-date" class="easyui-datebox">
            </div>
            <div class="svr-add-form-d">
                <label>负责人：</label>
                <input id='svr-admin' class="easyui-combobox" name='svr-add-admin' style="height: 20px" data-options="valueField:'id', textField:'username', required:true">
            </div>
            <div class="svr-add-form-d">
                <label>使用状态：</label>
                <select name="svr-add-usable">
                    <option value="3" selected='selected'>空闲</option>
                    <option value="0">测试</option>
                    <option value="1">生产</option>
                    <option value="2">禁用</option>
                </select>
            </div>
        </form>
        <div id='svr-add-form-button'>
            <a href="javascript:void(0)" onclick="add_server_commit()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">添加</a>
            <a href="javascript:void(0)" onclick="add_server_cancel()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
        </div>
    </div>
    <div id="svr-update-div" class="easyui-dialog" style="width: 300px;height: 440px" data-options="iconCls:'icon-edit', title:'编辑服务器信息', closed:'true',
        modal:true" buttons='#svr-update-form-button'>
        <form id="svr-update-form">
            {% csrf_token %}
            <div class="svr-update-form-d">
                <label>服务器编号：</label>
                <input id="svr-name" type="text" name="svr-name" class="easyui-validatebox" data-options="required:true, validType:'length[1,30]'">
                <input id="svr-id" type="hidden" name="svr-id">
            </div>
            <div class="svr-update-form-d">
                <label>服务器类型：</label>
                <input id="svr-size" type="text" name="svr-size" class="easyui-validatebox" data-options="required:true">
                <a class="size-tip" href="javascript:void(0)"><img src="/static/easyui/themes/icons/help.png"></a>
            </div>
            <div class="svr-add-form-d">
                <label>硬件配置：</label>
                <input type="text" id="svr-update-parts" name="svr-parts" class="easyui-validatebox" data-options="required:true">
                <a class="parts-tip" href="javascript:void(0)"><img src="/static/easyui/themes/icons/help.png"></a>
            </div>
            <div class="svr-add-form-d">
                <label>操作系统：</label>
                <input type="text" id='svr-update-os' class="easyui-validatebox" name='svr-update-os' data-options="valueField:'id', textField:'name', required:true">
            </div>
            <div class="svr-add-form-d">
                <label>计算机名：</label>
                <input type="text" id='svr-update-hostname' class="easyui-validatebox" name='svr-update-hostname' data-options="valueField:'id', textField:'name', required:true">
            </div>
            <div class="svr-add-form-d">
                <label>登录用户：</label>
                <input type="text" id='svr-update-username' class="easyui-validatebox" name='svr-update-username' data-options="valueField:'id', textField:'name', required:true">
            </div>
            <div class="svr-update-form-d">
                <label>所在机房：</label>
                <input id='svr-update-idc' class="easyui-combobox" name='svr-update-idc' style="height: 20px" data-options="valueField:'id', textField:'name', required:true">
            </div>
            <!--<div class="svr-add-form-d">-->
                <!--<label>所在机柜：</label>-->
                <!--<input id='svr-update-cab' class="easyui-combobox" name='svr-update-cab' style="height: 20px" data-options="valueField:'id', textField:'name'">-->
                <!--<input id="svr-up-none-cab" type="checkbox" value="0" onclick="check_up_none_cab_selected()">不指派-->
            <!--</div>-->
            <!--<div class="svr-add-form-d">-->
                <!--<label>所属项目：</label>-->
                <!--<input id='svr-update-project' class="easyui-combobox" name='svr-add-project' style="height: 20px" data-options="valueField:'id', textField:'name', disabled:true">-->
                <!--<input id="svr-update-none-project" type="checkbox" name="none-project" value="0" onclick="check_update_project_selected()">有-->
            <!--</div>-->
            <div class="svr-update-form-d">
                <label>到期日期：</label>
                <input id="svr-end-date" name="svr-end-date" class="easyui-datebox">
            </div>
            <div class="svr-update-form-d">
                <label>负责人：</label>
                <input id='svr-update-admin' class="easyui-combobox" name='svr-update-admin' style="height: 20px" data-options="valueField:'id', textField:'username', required:true">
            </div>
            <div class="svr-update-form-d">
                <label>是否可用：</label>
                <input id='svr-update-usable' class="easyui-combobox" name='svr-update-usable' style="height: 20px" data-options="valueField:'id', textField:'usable'">
            </div>
        </form>
        <div id='svr-update-form-button'>
            <a href="javascript:void(0)" onclick="svr_update_commit()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">更新</a>
            <a href="javascript:void(0)" onclick="svr_update_cancel('#svr-update-div')" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
        </div>
    </div>
    <div id="up-father-svr" class="easyui-dialog" style="height: 120px;width: 250px" data-options="title:'选择父服务器', buttons:'#up-father-svr-btn', closed:'true'">
        <form id="up-father-svr-form">
            <div class="svr-update-form-d">
                <label>父服务器：</label>
                <input type="hidden" id="up-father-idc-id" name="idc-id">
                <input type="hidden" id="up-father-svr-id" name="svr-id">
                <input id='up-father-father-id' class="easyui-combobox" name='father-id' style="height: 20px" data-options="valueField:'id', textField:'name'">
            </div>
        </form>
    </div>
    <div id='up-father-svr-btn'>
        <a href="javascript:void(0)" onclick="commit_up_father_svr()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">更新</a>
        <a href="javascript:void(0)" onclick="svr_update_cancel('#up-father-svr')" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
    </div>
    <div id="btn-import-1" style="height:100px;width: 300px" class="easyui-dialog" data-options="title:'选择EXCEL文件', closed:'true', buttons:'#import-buttons'">
        <form enctype="multipart/form-data" id="import-form" method="post" action="/resource/import-server/">
            {% csrf_token %}
            <!--<input id="btn-import-combobox" class="easyui-filebox" style="width: 280px" data-options="buttonText:'选择文件'">-->
            <input type="file" name="import-file">
            <div id='import-buttons'>
                <!--<input type="submit" value="添加" style="width: 40px;height: 27px">-->
                <a href="javascript:void(0)" onclick="javascript:document.getElementById('import-form').submit();" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">添加</a>
                <a href="javascript:void(0)" onclick="svr_update_cancel('#btn-import-1')" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
            </div>
        </form>
    </div>
    <div id="btn-admin-id-1" style="height: 60px;width: 150px" class="easyui-dialog" data-options="title:'查看负责人ID', closed:'true'">
        <input id="btn-admin-id-combobox" class="easyui-combobox" data-options="valueField:'id', textField:'username'">
    </div>
    <div id="btn-idc-id-1" style="height: 60px;width: 150px" class="easyui-dialog" data-options="title:'查看机房ID', closed:'true'">
        <input id="btn-idc-id-combobox" class="easyui-combobox" data-options="valueField:'id', textField:'name'">
    </div>
    <div id="btn-status-id-1" style="height: 60px;width: 150px" class="easyui-dialog" data-options="title:'查看状态ID', closed:'true'">
        <input id="btn-status-id-combobox" class="easyui-combobox" data-options="valueField:'id', textField:'name'">
    </div>
</div>
</body>
</html>