<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/easyui/themes/icon.css">
    <link rel="stylesheet" href="/static/in-process.css"/>
    <script type="text/javascript" src="/static/jquery-2-1-1.js"></script>
    <script type="text/javascript" src="/static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/django_post.js"></script>
    <script type="text/javascript" src="/static/in-process.js"></script>
    <title></title>
</head>
<body>
<div id="template-main" style="height: 650px"></div>
<div id="detail_show_view" class="easyui-dialog" data-options="width:'80%', height:'80%', closed:'true'">
    <textarea id="show_main" style="width: 99%;height: 98%;background-color: #000000;resize: none;color: #ffffff" readonly=readonly></textarea>
</div>
</body>
</html>