* {
    font:9pt/9pt "Microsoft YaHei";
}

.svr-search-div {
    height: 50px;
    background-color: #99cdff;
}

.svr-main-div {
    height: 650px;
}

.svr-display-div {
    height: 600px;
}

.svr-bottom-div {
    height: 50px;
    background-color: #99cdff;
}

.svr-search-form-div {
    float: left;
    margin-left: 5px;
    margin-top: 15px;
}

.svr-add-form-d {
    margin: 15px 0px 0px 25px;
}

.svr-update-form-d {
    margin: 15px 0px 0px 25px;
}
